<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container my-5">
        <h2>List of All Queued Data In HeadQuarter Database</h2>
        
        

        <% if(List.length >0) { %>
        <table class="table my-3 table table-condensed" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Unique Key</th>
                    <th>Table</th>
                    <th>Operation</th>
                    <th>To User 1</th>
                    <th>To User 2</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <% for (let data of List) { %>
                <tr>

                    <th scope="row"><%= data.id %></th>
                    <td><%= data.uniqueKey %></td>
                    <td><%= data.table_name %></td>
                    <td><%= data.operation %></td>
                    <td><%= data.to_User1 %></td>
                    <td><%= data.to_User2 %></td>
                    <td>
                        <form class="form-inline" action="/trigger" method="POST">
                            <input type="text" class="sr-only" name="uniqueKey" value="<%= data.uniqueKey%>">
                            <input type="text" class="sr-only" name="id" value="<%= data.id%>">
                            <input type="text" class="sr-only" name="operation" value="<%= data.operation%>">
                            <input type="text" class="sr-only" name="table" value="<%= data.table_name%>">
                            <button type="submit" class="btn bg-primary text-white">Trigger</button>
                          </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } else { %>
        <h1 class="text-warning text-center">No Data Queued IN Database</h1>
        <% } %>


    </div>



</body>

</html>